* text=auto eol=lf

*.blade.php linguist-detectable=false
*.css diff=css
*.html linguist-detectable=false
*.md diff=markdown
*.php diff=php
*.js linguist-detectable=false

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
